.calendarContainer {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #324462;

  .react-calendar {
    border-radius: 12px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;

    button {
      font-family: 'Poppins', sans-serif;
    }
  }

  .holiday-dot {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    width: 8px;
    height: 8px;
    background-color: #e2202e;
    border-radius: 50%;
    cursor: help;
  }
}

@media (max-width: 480px) {
  .calendar-container {
    max-width: 100%;
    padding: 0 10px;
  }
}
