.calendarContainer {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #324462;

  .react-calendar {
    border-radius: 12px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;

    button {
      font-family: 'Poppins', sans-serif;
    }
  }

  /* Bayram və iş günü olmayan günlərin altındakı qırmızı işarə */
  .holiday-indicator {
    margin: 0 auto;
    margin-top: 4px;
    width: 8px;
    height: 8px;
    background-color: #e2202e;
    border-radius: 50%;
  }

  /* Bayram günlərinin tile rəngi və rəng dəyişməsi */
  .holiday-tile {
    position: relative;
    color: #e2202e;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: help;

    &:hover {
      background-color: #e2202e;
      color: white;
      border-radius: 12px;
    }
  }
}

@media (max-width: 480px) {
  .calendar-container {
    max-width: 100%;
    padding: 0 10px;
  }
}
